[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.hover {
  background: rgba(120,120,120,.5);
}
.unhover {
  background: rgba(120,120,120,.2);
}
